extends layout

block content
  div(data-role='page')
    div(data-role='header')
      a(href='/users/signin', class='ui-btn ui-btn-left')
        i(class='fa fa-arrow-circle-left')
      h1(style='text-align:center;') Signup
    div(data-role='content')
      form(class='signupForm')
        label(for='userName') Username (optional):
        input(type='text', id='userName', value=(cookies.userName ? cookies.userName : undefined))
        label(for='emailAddress') Email:
        input(type='email', id='emailAddress', value=(cookies.emailAddress ? cookies.emailAddress : undefined), required)
        label(for='password') Password:
        input(type='password', id='password', pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,}$', title='Must contain at least one number, one uppercase letter, one lowercase letter, and at least 6 or more characters', required)
        label(for='confirmPassword') Confirm password:
        input(type='password', id='confirmPassword', required)
        input(type='submit', value='OK')
        a(href='/', data-role='button', data-inline='true', class='ui-btn ui-btn-primary') Cancel
